*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    background-color: #c3c4c5;
}
.conteudo{
    width: min(72rem, 100%);
    margin-inline: auto;
    padding-inline: 3rem;
    height: 100%;
}
/* Menu Superior */
header{
    background-color: #244158;
    width: 100%;
    height: 3.5rem;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
}
header .conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 11rem;
}
.header-list ul li{
    margin-left: 4rem;
    list-style: none;
    padding-top: 21px;
    padding-bottom: 16px;
}
.header-list ul{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.header-list li a{
    text-decoration: none;
    color: #FFF;
}
.home-botton{
    border-bottom: 2.5px solid #FFF;
}
.form-botton:hover{
    border-bottom: 2.5px solid #FFF;
}
.who-botton:hover{
    border-bottom: 2.5px solid #FFF;
}
.contact-botton{
    background-color: #151E2C;
    border-radius: 1rem;
    padding: 2rem;
    height: 40px;
    margin-top: 6px;
    display: flex;
    align-items: center;
}
.contact-botton a{
    margin-bottom: 3px;
}
.contact-botton:hover{
    
}

/* Fim Menu Superior */

main .post-area {
    padding-top: 9rem;
}
footer {
    height: 12rem;
    background-color: #cfcfcf;
    width: 100%;
    color:#151E2C;
    text-align: center;
    padding: 20px;
}